.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

#bgGreen {
  background-color: #116C4B;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#bgGreenLarger {
  background-color: #116C4B;
  height: 100px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}